*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-base;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  code {
    @apply font-mono;
    @apply text-gray-700;
    font-size: 0.9em;
    background-color: rgb(var(--color-gray-100));
  }

  :not(pre) > code {
    padding: 0.2em 0.35em;
    margin: 0 2px;
    background-color: rgb(var(--color-gray-100));
    border-radius: 3px;
  }
}
