@import './base.css';
@import './transition.css';

body {
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-weight: normal;
  font-family:
    Rubik,
    'Source Han Sans CN',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: #409eff;
  border-radius: 3px;
}

body::-webkit-scrollbar-track {
  background-color: #eee;
}

pre {
  font-family: 'JetBrains Mono', Consolas, monospace;
  background-color: var(--vt-c-white-mute);
  border-radius: 5px;
  padding: 0.8em;
  margin: 1em 0;
  overflow: auto;
}

code {
  font-family: 'JetBrains Mono', Consolas, monospace;
  background-color: var(--vt-c-white-mute);
}

:not(pre) > code {
  padding: 0.2em 0.4em;
  margin: 0;
  background-color: var(--vt-c-white-mute);
  border-radius: 3px;
}

#app {
  width: 100%;
  height: 100%;
}

.katex {
  font-size: 1.2em;
}

.hidden {
  opacity: 0;
}

.show {
  opacity: 1;
}

.flex-grow {
  flex-grow: 1;
}

.spoiler {
  position: relative; /* 使得伪元素可以定位 */
  background-color: rgba(200, 200, 200, 0.3); /* 浅灰色半透明背景 */
  color: rgba(0, 0, 0, 0.5); /* 半透明黑色文字 */
  user-select: none; /* 禁止选中文字 */
  overflow: hidden; /* 隐藏溢出的内容 */
  cursor: pointer; /* 鼠标悬停时光标变为手型 */
  filter: blur(3px); /* 添加模糊效果 */
  transition: filter 0.3s ease; /* 添加平滑过渡效果 */
}

.spoiler:hover {
  background-color: inherit; /* 悬停时使用父元素的背景色 */
  color: inherit; /* 悬停时显示原色 */
  filter: blur(0); /* 悬停消除模糊效果 */
}

a.link {
  color: #409eff;
  text-decoration: none;
  transition: 0.5s color;
}

a.link:hover {
  color: #005fb1;
}
