@import './base.css';

body {
  min-height: 100%;
  max-width: 100%;
  background-color: #fff;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-weight: normal;
  font-family:
    Lato,
    'Source Han Sans CN',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 100%;
}

.hidden {
  opacity: 0;
}

.show {
  opacity: 1;
}

.flex-grow {
  flex-grow: 1;
}
